{% extends 'layouts/index.html' %}

{% block content %}
    <form action="/posts/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
   <div class="posts" style="display: flex; justify-content: space-between; width: 80%; margin-left: 10%; flex-wrap: wrap" >
        {% for post in posts %}
           <div class="card" style="width: 18rem;">
  <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">Rate: {{ post.rate }}</p>
      {% for hashtage in post.hashtags.all %}
          <p>{{ hashtage.title }}</p>
      {% endfor %}
    <a href="/posts/{{ post.id }}/" class="btn btn-primary">More</a>
  </div>
</div>
        {% endfor %}
   </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/posts/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}

